@model IEnumerable<Product>

@{
    ViewBag.Title = "Каталог товаров";
}

@if (Model?.Any() == true)
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.Id">
                        @product.Name
                    </a>
                </td>
                <td>@product.Price.ToString("C")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id">
                        <i class="fa fa-edit"></i>
                    </a>|
                    <form asp-action="DeleteConfirmed" asp-route-id="@product.Id">
                        <input type="submit" value="del" class="btn btn-sm btn-danger"/>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Товары отсутствуют</p>
}